# CONFIGURAÇÕES DO BANCO DE DADOS (MYSQL)
DATABASE_URL="mysql://root:SUASENHA123@localhost:3306/williampreto_lp"

# SERVIDOR BACKEND
PORT=3000

# SEGURANÇA (GERAR UMA KEY FORTE)
# Exemplo para gerar no terminal: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET="coloque-uma-string-bem-longa-e-segura-aqui"
